@using Todo_Pallets.Models;

@{
	ViewBag.Titulo = "Proyectos";
	ViewBag.activoProyectos = "actual";
}


<section>
	<div id="logo-proyectos-izq"></div>
	<div id="logo-proyectos-der"></div>

	<!-- Slider principal -->
	<div id="slider1_container">

		<!-- Contenedor de Slides: -->
		<div id="slides-div-fotos" u="slides">

			<div>
				<!-- IMAGEN 1 -->
				<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets01.jpg" />

				<div id="caption-div-1a" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-1">
						<b>[Puesto N° 1]</b>
					</h1>
				</div>

				<div id="caption-div-2" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-2">@ViewBag.lstProyectos[0].getNombreProyecto()</h1>
				</div>

				<div id="caption-div-3" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-3"><b>Creado por:</b></h1>
					<h1 id="caption-h1-3">@ViewBag.lstProyectos[0].getAutor()</h1>
				</div>

				<div id="caption-div-4" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-4">Puntaje:</h1>
				</div>

				<img id="estrella-entera-img-1" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-2" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-3" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-4" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-5" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<div u="thumb">
					<img class="thumb-imagen" src="~/Content/imagenes/fotos-proyectos/miniaturas/pallets01.jpg" />
					<div class="title_back"></div>
					<div class="title">[1°]</div>
				</div>
			</div>

			<div>
				<!-- IMAGEN 2 -->
				<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets02.jpg" />

				<div id="caption-div-1b" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-1">
						<b>[Puesto N° 2]</b>
					</h1>
				</div>

				<div id="caption-div-2" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-2">@ViewBag.lstProyectos[1].getNombreProyecto()</h1>
				</div>

				<div id="caption-div-3" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-3"><b>Creado por:</b></h1>
					<h1 id="caption-h1-3">@ViewBag.lstProyectos[1].getAutor()</h1>
				</div>

				<div id="caption-div-4" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-4">Puntaje:</h1>
				</div>

				<img id="estrella-entera-img-1" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-2" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-3" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-4" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-5" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-3-4.png">

				<div u="thumb">
					<img class="thumb-imagen" src="~/Content/imagenes/fotos-proyectos/miniaturas/pallets02.jpg" />
					<div class="title_back"></div>
					<div class="title">[2°]</div>
				</div>
			</div>

			<div>
				<!-- IMAGEN 3 -->
				<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets03.jpg" />

				<div id="caption-div-1c" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-1">
						<b>[Puesto N° 3]</b>
					</h1>
				</div>

				<div id="caption-div-2" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-2">@ViewBag.lstProyectos[2].getNombreProyecto()</h1>
				</div>

				<div id="caption-div-3" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-3"><b>Creado por:</b></h1>
					<h1 id="caption-h1-3">@ViewBag.lstProyectos[2].getAutor()</h1>
				</div>

				<div id="caption-div-4" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-4">Puntaje:</h1>
				</div>

				<img id="estrella-entera-img-1" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-2" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-3" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-4" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-5" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-3-4.png">

				<div u="thumb">
					<img class="thumb-imagen" src="~/Content/imagenes/fotos-proyectos/miniaturas/pallets03.jpg" />
					<div class="title_back"></div>
					<div class="title">[3°]</div>
				</div>
			</div>

			<div>
				<!-- IMAGEN 4 -->
				<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets04.jpg" />

				<div id="caption-div-1d" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-1">
						<b>[Puesto N° 4]</b>
					</h1>
				</div>

				<div id="caption-div-2" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-2">@ViewBag.lstProyectos[3].getNombreProyecto()</h1>
				</div>

				<div id="caption-div-3" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-3"><b>Creado por:</b></h1>
					<h1 id="caption-h1-3">@ViewBag.lstProyectos[3].getAutor()</h1>
				</div>

				<div id="caption-div-4" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-4">Puntaje:</h1>
				</div>

				<img id="estrella-entera-img-1" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-2" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-3" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-4" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-5" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-3-4.png">

				<div u="thumb">
					<img class="thumb-imagen" src="~/Content/imagenes/fotos-proyectos/miniaturas/pallets04.jpg" />
					<div class="title_back"></div>
					<div class="title">[4°]</div>
				</div>
			</div>

			<div>
				<!-- IMAGEN 5 -->
				<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets05.jpg" />

				<div id="caption-div-1d" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-1">
						<b>[Puesto N° 5]</b>
					</h1>
				</div>

				<div id="caption-div-2" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-2">@ViewBag.lstProyectos[4].getNombreProyecto()</h1>
				</div>

				<div id="caption-div-3" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-3"><b>Creado por:</b></h1>
					<h1 id="caption-h1-3">@ViewBag.lstProyectos[4].getAutor()</h1>
				</div>

				<div id="caption-div-4" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-4">Puntaje:</h1>
				</div>

				<img id="estrella-entera-img-1" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-2" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-3" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-4" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-5" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-3-4.png">

				<div u="thumb">
					<img class="thumb-imagen" src="~/Content/imagenes/fotos-proyectos/miniaturas/pallets05.jpg" />
					<div class="title_back"></div>
					<div class="title">[5°]</div>
				</div>
			</div>

			<div>
				<!-- IMAGEN 6 -->
				<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets06.jpg" />

				<div id="caption-div-1d" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-1">
						<b>[Puesto N° 6]</b>
					</h1>
				</div>

				<div id="caption-div-2" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-2">@ViewBag.lstProyectos[5].getNombreProyecto()</h1>
				</div>

				<div id="caption-div-3" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-3"><b>Creado por:</b></h1>
					<h1 id="caption-h1-3">@ViewBag.lstProyectos[5].getAutor()</h1>
				</div>

				<div id="caption-div-4" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-4">Puntaje:</h1>
				</div>

				<img id="estrella-entera-img-1" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-2" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-3" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-4" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-5" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Mitad.png">

				<div u="thumb">
					<img class="thumb-imagen" src="~/Content/imagenes/fotos-proyectos/miniaturas/pallets06.jpg" />
					<div class="title_back"></div>
					<div class="title">[6°]</div>
				</div>
			</div>

			<div>
				<!-- IMAGEN 7 -->
				<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets07.jpg" />

				<div id="caption-div-1d" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-1">
						<b>[Puesto N° 7]</b>
					</h1>
				</div>

				<div id="caption-div-2" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-2">@ViewBag.lstProyectos[6].getNombreProyecto()</h1>
				</div>

				<div id="caption-div-3" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-3"><b>Creado por:</b></h1>
					<h1 id="caption-h1-3">@ViewBag.lstProyectos[6].getAutor()</h1>
				</div>

				<div id="caption-div-4" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-4">Puntaje:</h1>
				</div>

				<img id="estrella-entera-img-1" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-2" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-3" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-4" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-5" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Mitad.png">

				<div u="thumb">
					<img class="thumb-imagen" src="~/Content/imagenes/fotos-proyectos/miniaturas/pallets07.jpg" />
					<div class="title_back"></div>
					<div class="title">[7°]</div>
				</div>
			</div>

			<div>
				<!-- IMAGEN 8 -->
				<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets08.jpg" />

				<div id="caption-div-1d" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-1">
						<b>[Puesto N° 8]</b>
					</h1>
				</div>

				<div id="caption-div-2" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-2">@ViewBag.lstProyectos[7].getNombreProyecto()</h1>
				</div>

				<div id="caption-div-3" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-3"><b>Creado por:</b></h1>
					<h1 id="caption-h1-3">@ViewBag.lstProyectos[7].getAutor()</h1>
				</div>

				<div id="caption-div-4" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-4">Puntaje:</h1>
				</div>

				<img id="estrella-entera-img-1" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-2" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-3" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-4" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-5" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Mitad.png">

				<div u="thumb">
					<img class="thumb-imagen" src="~/Content/imagenes/fotos-proyectos/miniaturas/pallets08.jpg" />
					<div class="title_back"></div>
					<div class="title">[8°]</div>
				</div>
			</div>

			<div>
				<!-- IMAGEN 9 -->
				<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets09.jpg" />

				<div id="caption-div-1d" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-1">
						<b>[Puesto N° 9]</b>
					</h1>
				</div>

				<div id="caption-div-2" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-2">@ViewBag.lstProyectos[8].getNombreProyecto()</h1>
				</div>

				<div id="caption-div-3" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-3"><b>Creado por:</b></h1>
					<h1 id="caption-h1-3">@ViewBag.lstProyectos[8].getAutor()</h1>
				</div>

				<div id="caption-div-4" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-4">Puntaje:</h1>
				</div>

				<img id="estrella-entera-img-1" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-2" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-3" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-4" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-5" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-1-4.png">

				<div u="thumb">
					<img class="thumb-imagen" src="~/Content/imagenes/fotos-proyectos/miniaturas/pallets09.jpg" />
					<div class="title_back"></div>
					<div class="title">[9°]</div>
				</div>
			</div>

			<div>
				<!-- IMAGEN 10 -->
				<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets10.jpg" />

				<div id="caption-div-1d" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-1">
						<b>[Puesto N° 10]</b>
					</h1>
				</div>

				<div id="caption-div-2" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-2">@ViewBag.lstProyectos[9].getNombreProyecto()</h1>
				</div>

				<div id="caption-div-3" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-3"><b>Creado por:</b></h1>
					<h1 id="caption-h1-3">@ViewBag.lstProyectos[9].getAutor()</h1>
				</div>

				<div id="caption-div-4" u=caption t="*" du="1000" class="captionOrange">
					<h1 id="caption-h1-4">Puntaje:</h1>
				</div>

				<img id="estrella-entera-img-1" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-2" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-3" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-4" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-Entera.png">

				<img id="estrella-entera-img-5" u="caption" t="*" du="700" src="~/Content/imagenes/iconos-estrellas-puntaje/Estrella-1-4.png">

				<div u="thumb">
					<img class="thumb-imagen" src="~/Content/imagenes/fotos-proyectos/miniaturas/pallets10.jpg" />
					<div class="title_back"></div>
					<div class="title">[10°]</div>
				</div>
			</div>

		</div>

		<!-- Arrow Navigator Skin: -->
		<span class="jssora12l" u="arrowleft"></span>
		<span class="jssora12r" u="arrowright"></span>

		<!-- Thumbnail Navigator: -->
		<div u="thumbnavigator" class="jssort16">
			<!-- Thumbnail Item Skin Begin -->
			<div id="slides-cursor" u="slides">
				<div u="prototype" class=p>
					<div u="thumbnailtemplate" class="t"></div>
				</div>
			</div>
		</div>

	</div>
	
	<!-- Barra de título de descripción del proyecto -->
	<div id="descripcion-titulo">
		<div id="fila-titulo" class="row">

			<div class="col-sm-5 col-sm-offset-1">
				<h1 id="numero-slide-invisible"></h1>
				<h1 id="titulo-1">@ViewBag.lstProyectos[0].getNombreProyecto()</h1>
				<h1 id="titulo-2">@ViewBag.lstProyectos[1].getNombreProyecto()</h1>
				<h1 id="titulo-3">@ViewBag.lstProyectos[2].getNombreProyecto()</h1>
				<h1 id="titulo-4">@ViewBag.lstProyectos[3].getNombreProyecto()</h1>
				<h1 id="titulo-5">@ViewBag.lstProyectos[4].getNombreProyecto()</h1>
				<h1 id="titulo-6">@ViewBag.lstProyectos[5].getNombreProyecto()</h1>
				<h1 id="titulo-7">@ViewBag.lstProyectos[6].getNombreProyecto()</h1>
				<h1 id="titulo-8">@ViewBag.lstProyectos[7].getNombreProyecto()</h1>
				<h1 id="titulo-9">@ViewBag.lstProyectos[8].getNombreProyecto()</h1>
				<h1 id="titulo-10">@ViewBag.lstProyectos[9].getNombreProyecto()</h1>
			</div>

			<div class="col-sm-3">
				<h1 id="precio-1"><span class="palabra-por">Por: </span><span class="autor">@ViewBag.lstProyectos[0].getAutor()</span></h1>

				<h1 id="precio-2"><span class="palabra-por">Por: </span><span class="autor">@ViewBag.lstProyectos[1].getAutor()</span></h1>

				<h1 id="precio-3"><span class="palabra-por">Por: </span><span class="autor">@ViewBag.lstProyectos[2].getAutor()</span></h1>

				<h1 id="precio-4"><span class="palabra-por">Por: </span><span class="autor">@ViewBag.lstProyectos[3].getAutor()</span></h1>

				<h1 id="precio-5"><span class="palabra-por">Por: </span><span class="autor">@ViewBag.lstProyectos[4].getAutor()</span></h1>

				<h1 id="precio-6"><span class="palabra-por">Por: </span><span class="autor">@ViewBag.lstProyectos[5].getAutor()</span></h1>

				<h1 id="precio-7"><span class="palabra-por">Por: </span><span class="autor">@ViewBag.lstProyectos[6].getAutor()</span></h1>

				<h1 id="precio-8"><span class="palabra-por">Por: </span><span class="autor">@ViewBag.lstProyectos[7].getAutor()</span></h1>

				<h1 id="precio-9"><span class="palabra-por">Por: </span><span class="autor">@ViewBag.lstProyectos[8].getAutor()</span></h1>

				<h1 id="precio-10"><span class="palabra-por">Por: </span><span class="autor">@ViewBag.lstProyectos[9].getAutor()</span></h1>
			</div>

			<div class="col-sm-2">
				<h1 id="fecha-1"><span class="palabra-fecha">fecha: </span><span class="fecha"> @ViewBag.lstProyectos[0].getFecha()</span></h1>

				<h1 id="fecha-2"><span class="palabra-fecha">fecha: </span><span class="fecha"> @ViewBag.lstProyectos[1].getFecha()</span></h1>

				<h1 id="fecha-3"><span class="palabra-fecha">fecha: </span><span class="fecha"> @ViewBag.lstProyectos[2].getFecha()</span></h1>

				<h1 id="fecha-4"><span class="palabra-fecha">fecha: </span><span class="fecha"> @ViewBag.lstProyectos[3].getFecha()</span></h1>

				<h1 id="fecha-5"><span class="palabra-fecha">fecha: </span><span class="fecha"> @ViewBag.lstProyectos[4].getFecha()</span></h1>

				<h1 id="fecha-6"><span class="palabra-fecha">fecha: </span><span class="fecha"> @ViewBag.lstProyectos[5].getFecha()</span></h1>

				<h1 id="fecha-7"><span class="palabra-fecha">fecha: </span><span class="fecha"> @ViewBag.lstProyectos[6].getFecha()</span></h1>

				<h1 id="fecha-8"><span class="palabra-fecha">fecha: </span><span class="fecha"> @ViewBag.lstProyectos[7].getFecha()</span></h1>

				<h1 id="fecha-9"><span class="palabra-fecha">fecha: </span><span class="fecha"> @ViewBag.lstProyectos[8].getFecha()</span></h1>

				<h1 id="fecha-10"><span class="palabra-fecha">fecha: </span><span class="fecha"> @ViewBag.lstProyectos[9].getFecha()</span></h1>
			</div>

		</div>
	</div>

	<!-- Cuerpo de descripción del proyecto -->
	<div id="descripcion-cuerpo">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1">

				<div id="boton-comprar">
					<h1 id="titulo-subir">@Html.ActionLink("¡Subi tu propio Proyecto!", "SubirProyecto", "Esp", new { }, new { id = "link-subirproyecto" })</h1>
				</div>

				<div id="columna-descripcion-1-izq">
					<h1 id="descripcion">Descripcion del proyecto:</h1>
					<p class="parrafo-descripcion">@ViewBag.lstProyectos[0].getDescripcionProyecto()</p>
				</div>

				<div id="columna-descripcion-2-izq">
					<h1 id="descripcion">Descripcion del proyecto:</h1>
					<p class="parrafo-descripcion">@ViewBag.lstProyectos[1].getDescripcionProyecto()</p>
				</div>

				<div id="columna-descripcion-3-izq">
					<h1 id="descripcion">Descripcion del proyecto:</h1>
					<p class="parrafo-descripcion">@ViewBag.lstProyectos[2].getDescripcionProyecto()</p>
				</div>

				<div id="columna-descripcion-4-izq">
					<h1 id="descripcion">Descripcion del proyecto:</h1>
					<p class="parrafo-descripcion">@ViewBag.lstProyectos[3].getDescripcionProyecto()</p>
				</div>

				<div id="columna-descripcion-5-izq">
					<h1 id="descripcion">Descripcion del proyecto:</h1>
					<p class="parrafo-descripcion">@ViewBag.lstProyectos[4].getDescripcionProyecto()</p>
				</div>

				<div id="columna-descripcion-6-izq">
					<h1 id="descripcion">Descripcion del proyecto:</h1>
					<p class="parrafo-descripcion">@ViewBag.lstProyectos[5].getDescripcionProyecto()</p>
				</div>

				<div id="columna-descripcion-7-izq">
					<h1 id="descripcion">Descripcion del proyecto:</h1>
					<p class="parrafo-descripcion">@ViewBag.lstProyectos[6].getDescripcionProyecto()</p>
				</div>

				<div id="columna-descripcion-8-izq">
					<h1 id="descripcion">Descripcion del proyecto:</h1>
					<p class="parrafo-descripcion">@ViewBag.lstProyectos[7].getDescripcionProyecto()</p>
				</div>

				<div id="columna-descripcion-9-izq">
					<h1 id="descripcion">Descripcion del proyecto:</h1>
					<p class="parrafo-descripcion">@ViewBag.lstProyectos[8].getDescripcionProyecto()</p>
				</div>

				<div id="columna-descripcion-10-izq">
					<h1 id="descripcion">Descripcion del proyecto:</h1>
					<p class="parrafo-descripcion">@ViewBag.lstProyectos[9].getDescripcionProyecto()</p>
				</div>

			</div>

			<div class="col-sm-5">
				<!-- Jssor Slider (slider secundario): -->
				<div id="slider2_container">

					<!-- Contenedor de Slides: -->
					<div id="slides-div-fotos-2" u="slides">

						<div>
							<!-- IMAGEN 1 del que aparece actualmente en el slider principal -->
							<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets01.jpg" />
						</div>

						<div>
							<!-- IMAGEN 2 del que aparece actualmente en el slider principal -->
							<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets02.jpg" />
						</div>

						<div>
							<!-- IMAGEN 3 del que aparece actualmente en el slider principal -->
							<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets03.jpg" />
						</div>

						<div>
							<!-- IMAGEN 4 del que aparece actualmente en el slider principal -->
							<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets04.jpg" />
						</div>

						<div>
							<!-- IMAGEN 5 del que aparece actualmente en el slider principal -->
							<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets05.jpg" />
						</div>

						<div>
							<!-- IMAGEN 6 del que aparece actualmente en el slider principal -->
							<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets06.jpg" />
						</div>

						<div>
							<!-- IMAGEN 7 del que aparece actualmente en el slider principal -->
							<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets07.jpg" />
						</div>

						<div>
							<!-- IMAGEN 8 del que aparece actualmente en el slider principal -->
							<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets08.jpg" />
						</div>

						<div>
							<!-- IMAGEN 9 del que aparece actualmente en el slider principal -->
							<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets09.jpg" />
						</div>

						<div>
							<!-- IMAGEN 10 del que aparece actualmente en el slider principal -->
							<img u="image" src="~/Content/imagenes/fotos-proyectos/pallets10.jpg" />
						</div>

						<!-- Arrow Navigator Skin (slider secundario): -->
						<span class="jssora12l flecha-izq-slide2" u="arrowleft"></span>
						<span class="jssora12r flecha-der-slide2" u="arrowright"></span>
					</div>
				</div>

				<div id="columna-descripcion-1-der">
					<h1 id="visitas">VISITAS: @ViewBag.lstProyectos[0].getVisitas()</h1>
					<h1 id="puntaje">PUNTAJE: @ViewBag.lstProyectos[0].getPuntaje()</h1>
				</div>

				<div id="columna-descripcion-2-der">
					<h1 id="visitas">VISITAS: @ViewBag.lstProyectos[1].getVisitas()</h1>
					<h1 id="puntaje">PUNTAJE: @ViewBag.lstProyectos[1].getPuntaje()</h1>
				</div>

				<div id="columna-descripcion-3-der">
					<h1 id="visitas">VISITAS: @ViewBag.lstProyectos[2].getVisitas()</h1>
					<h1 id="puntaje">PUNTAJE: @ViewBag.lstProyectos[2].getPuntaje()</h1>
				</div>

				<div id="columna-descripcion-4-der">
					<h1 id="visitas">VISITAS: @ViewBag.lstProyectos[3].getVisitas()</h1>
					<h1 id="puntaje">PUNTAJE: @ViewBag.lstProyectos[3].getPuntaje()</h1>
				</div>

				<div id="columna-descripcion-5-der">
					<h1 id="visitas">VISITAS: @ViewBag.lstProyectos[4].getVisitas()</h1>
					<h1 id="puntaje">PUNTAJE: @ViewBag.lstProyectos[4].getPuntaje()</h1>
				</div>

				<div id="columna-descripcion-6-der">
					<h1 id="visitas">VISITAS: @ViewBag.lstProyectos[5].getVisitas()</h1>
					<h1 id="puntaje">PUNTAJE: @ViewBag.lstProyectos[5].getPuntaje()</h1>
				</div>

				<div id="columna-descripcion-7-der">
					<h1 id="visitas">VISITAS: @ViewBag.lstProyectos[6].getVisitas()</h1>
					<h1 id="puntaje">PUNTAJE: @ViewBag.lstProyectos[6].getPuntaje()</h1>
				</div>

				<div id="columna-descripcion-8-der">
					<h1 id="visitas">VISITAS: @ViewBag.lstProyectos[7].getVisitas()</h1>
					<h1 id="puntaje">PUNTAJE: @ViewBag.lstProyectos[7].getPuntaje()</h1>
				</div>

				<div id="columna-descripcion-9-der">
					<h1 id="visitas">VISITAS: @ViewBag.lstProyectos[8].getVisitas()</h1>
					<h1 id="puntaje">PUNTAJE: @ViewBag.lstProyectos[8].getPuntaje()</h1>
				</div>

				<div id="columna-descripcion-10-der">
					<h1 id="visitas">VISITAS: @ViewBag.lstProyectos[9].getVisitas()</h1>
					<h1 id="puntaje">PUNTAJE: @ViewBag.lstProyectos[9].getPuntaje()</h1>
				</div>

			</div>
		</div>
	</div>

</section>